 
 

.logo img{
  width: 50px; 
  height: 50px;
  background-color: rgb(12, 11, 11);
  margin-bottom: -0.3cm;
  
 
}
.title {
    color: #009879;
    margin-bottom: -0.5cm;
    margin-left: 1cm;
}

body {
    background-color: white;
}
 .content-table{
     border-collapse: collapse;
     width:90%;
     background-color: white;
     border-radius:5px;
     box-shadow:0px 10px 30px 5px rgba(0, 0, 0, 0.1) ;
     margin:25px auto;
     font-size: 0.9em;
     min-width: 400px;
     border-radius: 5px 5px 0 0;
     overflow:hidden;
 }
     
 
 
  .content-table thead tr {
      background-color: #009879;
      color: white;
      text-align: left;
      font-weight: bold;
    

}

 .content-table th,
  .content-table td {
      padding: 1px 10px;
  }
  .content-table tbody .btn{
    width: 70px;
    display: inline-block;
    text-decoration: none;
    background-color: #009879;
    font-weight: medium;
    text-align: center;
    vertical-align: middle;
    color: white;
  }
  .content-table tbody tr {
      border-bottom: 1px solid #dddddd;
  }
  .content-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    
  }
  .content-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }
  